<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ltrackercfo.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ltrackercfo.scm.gear.host:443</MSDeployServiceURL>
    <DeployIisAppPath>ltrackercfo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$ltrackercfo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql5.gear.host;Initial Catalog=ltracker;User ID=ltracker;Password=Gn7O9t7x6-_z" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ltracker.Models.ApplicationDbContext, Ltracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LearningContext" Order="2" Enabled="False">
          <Destination Path="Data Source=mssql5.gear.host;Initial Catalog=ltracker;User ID=ltracker;Password=Gn7O9t7x6-_z" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ltracker.data.LearningContext, Ltracker.data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mssql5.gear.host;Initial Catalog=ltracker;User ID=ltracker;Password=Gn7O9t7x6-_z</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LearningContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql5.gear.host;Initial Catalog=ltracker;User ID=ltracker;Password=Gn7O9t7x6-_z</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>